<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Membership_Form_Complete_with_code1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Membership_Form_Complete_with_code1.Properties.Settings.GymDataBaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\GymDataBase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Membership_Form_Complete_with_code1.Properties.Settings>
            <setting name="checkBoxVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxTrainer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxDiet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbBasicMembership" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbRegularMembership" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbPremiumMembership" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rb3MonthMembership" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rb1YearMembership" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rb2YearMembership" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="tbSurname" serializeAs="String">
                <value />
            </setting>
            <setting name="tbMobile" serializeAs="String">
                <value />
            </setting>
            <setting name="tbEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="tbStreetAdd" serializeAs="String">
                <value />
            </setting>
            <setting name="tbSuburb" serializeAs="String">
                <value />
            </setting>
            <setting name="tbTown" serializeAs="String">
                <value />
            </setting>
            <setting name="tbPostCode" serializeAs="String">
                <value />
            </setting>
            <setting name="rbDirectDebitNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbDirectDebitYes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbWeeklyPayment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbMonthlyPayment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbRegularPayment" serializeAs="String">
                <value />
            </setting>
            <setting name="tbTotalDiscount" serializeAs="String">
                <value />
            </setting>
            <setting name="tbTotalExtras" serializeAs="String">
                <value />
            </setting>
            <setting name="tbTotalCost" serializeAs="String">
                <value />
            </setting>
        </Membership_Form_Complete_with_code1.Properties.Settings>
    </userSettings>
</configuration>